
.bg-image {
    width: 100vw;
    height: 100vh;
    background-image: url("foto's/annie-spratt-QckxruozjRg-unsplash.jpg");
    background-size: cover;
    filter: brightness(0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.card-img-top {
    height: 15rem;
    object-fit: cover;
}

.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    margin-bottom: 50px;
}
footer{
    margin-top: 50px;
}
@media screen and (width <= 700px){
    nav {
        margin-bottom: 10px;
    }
    footer {
        margin-bottom: 10px;
    }
}
    
